body {
	background-image: url(../img/cities.jpg);
	background-attachment: fixed;
}
p, h1, h2, h3, h4, h5, h6, figcaption {
	font-family: "Arial", sans-serif;
	color: #20B2AA;
}
figcaption {
	color: #20B2AA
}

h3 {
	font-size: medium;
}

h2 {
	font-size: small;
}

p {
	font-size: larger;
	font-weight: lighter;
}
